@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Comic Neue', sans-serif;
  background-color: #f0f9ff;
  background-image: radial-gradient(#bae6fd 2px, transparent 2px);
  background-size: 32px 32px;
}

/* Custom Scrollbar for playful feel */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #f1f5f9;
}
::-webkit-scrollbar-thumb {
  background-color: #00A8E8;
  border-radius: 20px;
  border: 3px solid #f1f5f9;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #0284c7;
}
